@font-face
{
	font-family: Happy Monkey
	src: url(HappyMonkey-Regular.ttf);
}

p 
{
	color: #707070;
}

li
{
	color: #707070;
	padding-top: 5px;
	padding-bottom: 5px;
}

h1
{
	color: #DB0038;
}

h2
{
	color: #3998A3;
}

h3
{
	color: #474747;
}

header
{
	text-align: center;
}

span
{
	color: #F4B400;
	font-size: 25px;	
}

footer
{
	text-align: center;
}

.container 
{
	width: 800px;
	margin: auto;
}

.hero
{
	background-color: #f4f4f4;
	text-align: center;
	padding-bottom: 10px;
}

.rating
{
	text-align: center;
}





